
span{
  display: inline-block;
  margin-left: 5px;
}

.App{
  text-align: center;
}

header{
  background-color: black;
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
}

nav{
  text-align: center;
}

.grid, .grid-row, .grid-cell {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 30px;
}

table {
  margin: auto;
}